<form action="/save_customer">
  <input type="text" placeholder="Enter name" name="name">
  <input type="text" placeholder="Enter card" name="card">
  <input type="text" placeholder="Enter phone" name="phone">
  <input type="text" placeholder="Enter street" name="street">
  <input type="text" placeholder="Enter city" name="city">
  <input type="text" placeholder="Enter state" name="state">
  <input type="text" placeholder="Enter zip" name="zip">
  <input type="submit">
</form>