<h1>Audio-Friend</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/add_customer">Add a customer</a></li>
  <li><a href="/update_customers">Change a customer's name</a></li>
  <li><a href="/add_product">Add a product</a></li>
</ul>